# Statistics for Data Science [DS401]
## Evaluate a service
#### By: Javier Orduz

[licenseBDG]: https://img.shields.io/badge/License-CC-orange?style=plastic
[license]: https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en

[mywebsiteBDG]:https://img.shields.io/badge/website-jaorduz.github.io-0abeeb?style=plastic
[mywebsite]: https://jaorduz.github.io/

[mygithubBDG-jaorduz]: https://img.shields.io/badge/jaorduz-repos-blue?logo=github&label=jaorduz&style=plastic
[mygithub-jaorduz]: https://github.com/jaorduz/

[mygithubBDG-jaorduc]: https://img.shields.io/badge/jaorduc-repos-blue?logo=github&label=jaorduc&style=plastic 
[mygithub-jaorduc]: https://github.com/jaorduc/

[myXprofileBDG]: https://img.shields.io/static/v1?label=Follow&message=jaorduc&color=2ea44f&style=plastic&logo=X&logoColor=black
[myXprofile]:https://twitter.com/jaorduc


[![website - jaorduz.github.io][mywebsiteBDG]][mywebsite]
[![Github][mygithubBDG-jaorduz]][mygithub-jaorduz]
[![Github][mygithubBDG-jaorduc]][mygithub-jaorduc]
[![Follow @jaorduc][myXprofileBDG]][myXprofile]
[![CC License][licenseBDG]][license]

<h1>Changing the data type</h1>

<div class="alert  alert-block alert-info" style="margin-top: 1px">
    <ol>
        <!-- <li><a href="#unData">Import modules</a></li> -->
         <!-- <ol>
             <li><a href="#reData">Reading</a></li>
         </ol> -->
        <!-- <li><a href="#daExploration">Read CSV</a></li> -->
        <li><a href="#showData">Changing the type of data</a></li>
        <li><a href="#nullData">Fixing ```NULL``` data</a></li>
        <li><a href="#exerci">Exercises</a></li>
        <li><a href="#exerci">References</a></li>        
    </ol>
</div>
<br>
<hr>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

# Exercise 1
## Use the data set mlb11.csv
What type of plot would you use to display the relationship between runs and one of the other numerical variables? Plot this relationship using the variable at_bats as the predictor. Does the relationship look linear? If you knew a team's at_bats, would you be comfortable using a linear model to predict the number of runs?

If the relationship looks linear, we can quantify the strength of the relationship with the correlation coefficient.

In [2]:
df = pd.read_csv("../../data/titanic3.csv")

In [3]:
df.head(5)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
df['age'].corr(df['fare'])

0.17873985599964112

# Exercise 2

Looking at your plot from the previous exercise, describe the relationship between these two variables. Make sure to discuss the form, direction, and strength of the relationship as well as any unusual observations.

Recall that the difference between the observed values and the values predicted by the line are called residuals. Note that the data set has 30 observations in total, hence there are 30 residuals.

\begin{equation}
e_i = y_i - \overline{y}_i
\end{equation}

# Changing the type of data

In [ ]:
df['sex'] = np.where(df['sex']=='female',1, 0)

In [ ]:
df.head(5)

In [ ]:
df.describe()

# Fixing ```NULL``` data

To fix ```NULL``` data you should follow the next steps

## 1. Show the amount of null in each feature

In [ ]:
df.isnull().sum()

age has 263, fare has 1, and so on.

In [ ]:
print(sum(df['age'].isnull()))

## 2. Compute the mean

In [ ]:
df['age'].mean()

In [ ]:
df['fare'].mean()

## 3. Put the mean in the null entries
We did for age and fare features.

In [ ]:
df['age'].fillna(df['age'].mean(), inplace = True)

In [ ]:
df['fare'].fillna(df['fare'].mean(), inplace = True)

In [ ]:
df.isnull().sum()

Now age, fare don't have any null value.

In [ ]:
print(sum(df['age'].isnull()))

Group by sex, show mean value

In [ ]:
df.groupby('sex')['age'].mean()

In [ ]:
print("Age female mean = ", round(df.groupby('sex')['age'].mean()[0],2),"\nAge male mean = ", round(df.groupby('sex')['age'].mean()[1],2))

#  Exercises

1. For Sex column, you must change to 1 if the passenger was female and 0 if they were male. 
1. There some missing data, find a function to find the missing information in each column.
1. If you found some missing data, then you have two options: 
    - fill it in. Recommended
    - Drop the rows with the missing values.
1. Print the null values for each columns.
1. Get the average value for those columns that have any missing values.
1. Remove the null values, and replace them with the mean value.
1. Print how many values are nulls.
1. Filter the database by each gender, and find the mean.
    - You can filter using groupby method.
<!-- 1. Submmit your report in Moodle. Template https://www.overleaf.com/read/xqcnnnrsspcp -->

## Versions

In [ ]:
from platform import python_version
print("python version: ", python_version())

# References

[0] data https://tinyurl.com/2m3vr2xp

[1] numpy https://numpy.org/

[2] scipy https://docs.scipy.org/

[3] matplotlib https://matplotlib.org/

[4] matplotlib.cm https://matplotlib.org/stable/api/cm_api.html

[5] matplotlib.pyplot https://matplotlib.org/stable/api/pyplot_summary.html

[6] pandas https://pandas.pydata.org/docs/

[7] seaborn https://seaborn.pydata.org/